.navigation {
    background-color: #aaa;
    flex: auto;
    display: flex;
    height: 50px;
    align-items: center;
}

.month-nav {
    flex: auto;
}

.year-nav {
    flex: auto;
}

.navigator-value {
    display: inline-block;
    width: 100px;
}

.navigator:hover {
    cursor: pointer;
}