.navigation {
    background-color: #aaa;
    flex: auto;
    display: flex;
    height: 25px;
    align-items: center;
    user-select: none;
}

.month-nav {
    flex: auto;
}

.year-nav {
    flex: auto;
}

.navigator-value {
    display: inline-block;
    width: 100px;
}

.navigator {
    text-decoration: none;
    color: black;
}

.navigator:hover {
    cursor: pointer;
}