.appointment-form{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

label {
    font-size: 1.3em;
}

input , textarea, button {
    /*margin-bottom: 5px;*/
}

textarea {
    resize: none;
}

.appointment-form .btn-success {
    position: fixed;
    top: 0;
    right: 0;
}

.text-area {

}