.appointment-detail {
    display: flex;
    flex-direction: column
}

.title {
    padding: 10px;
    font-size: 2em;
}

.description {
    padding: 10px;
}

.appointment-detail-body {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}