.day {
    border: 1px solid black;
    flex: 0 0 13.75%;
    height: 25px;
    text-decoration: none;
    color: black;
}

.day.active {
    background-color: #ccc;
}

.day:hover {
    background-color: red;
}